mat-card img {
  object-fit: cover;

}

.items-container {
  display: flex;
  flex-wrap: wrap;
}

#items {
  padding: 0 10px 10px 0;
  color: #0a80ff;
}

#items:hover {
  cursor: pointer;
  text-decoration: underline;
}

.chat-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .mat-icon {
    margin-right: 20px;
  }
}

@media screen and (max-width: 992px) {
  #items {
    width: 100%;
  }

  .message-item {
    margin: 10px 0 10px 0;
  }
}
