<!-- layout -->
<div class="layout">
  <!-- content -->
  <div class="content">
    <!-- chat -->
    <div class="chat">
      <div class="chat-header">
        <div class="chat-header-wrapper">
          <button mat-icon-button (click)="toggleSideNav()">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="chat-header-user">
            <figure class="avatar">
              <img src="assets/images/zana_logo_bg.png" class="rounded-circle" alt="image">
            </figure>
            <div>
              <h5>Zana Bot</h5>
              <small class="text-success">
                <i *ngIf="isTyping">writing...</i>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-body" #scrollBottom> <!-- .no-message -->
        <div class="messages" *ngFor="let message of allMessages">
          <div class="message-item outgoing-message" *ngIf="message">
            <div class="message-avatar">
              <figure class="avatar">
                <img src="http://via.placeholder.com/128X128" class="rounded-circle" alt="image">
              </figure>
              <div>
                <h5>{{username}}</h5>
                <div class="time">{{message.senderTime}}</div>
              </div>
            </div>
            <div class="message-content">
              {{message.senderMessage}}
            </div>
          </div>
          <div *ngIf="message.botMessage" class="message-item">
            <div class="message-avatar">
              <figure class="avatar">
                <img src="assets/images/zana_logo_bg.png" class="rounded-circle" alt="image">
              </figure>
              <div>
                <h5>Zana Bot</h5>
                <div class="time">{{message.botMessageTime}}</div>
              </div>
            </div>
            <div class="message-content">
              {{message.botMessage}}
            </div>
          </div>
          <mat-card class="message-item" *ngIf="message.items.length > 0">
            <img matCardImage class="img-chat-auto" *ngIf="message.mainItem" mat-card-image
                 src="assets/images/zana_logo_bg.png"/>
            <mat-card-content *ngIf="message.mainItem">
              <p class="message-content">
                {{message.mainItem.summary}}
              </p>
            </mat-card-content>
            <mat-card-actions class="items-container" *ngIf="context && context != ''">
              <a id="items" (click)="writeMessage(item.title)" *ngFor="let item of message.items">{{item.title}}</a>
            </mat-card-actions>
            <mat-card-actions class="items-container" *ngIf="context == '' || !context">
              <a id="items" (click)="goToLink(item.URI)" *ngFor="let item of message.items">{{item.title}}</a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="chat-footer">
        <form>
          <input name="sendMessage" autocomplete="off" matInput type="text" class="form-control"
                 [(ngModel)]="senderMessage" placeholder="Write a message.">
          <div class="form-buttons">
            <button mat-button class="btn btn-primary" (click)="sendMessage(isMedici)">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- ./ chat -->
  </div>
  <!-- ./ content -->
</div>
<!-- ./ layout -->
