<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" [opened]="mobileQuery.matches ? 'false' : 'true'"
              [mode]="mobileQuery.matches ? 'over' : 'side'">
    <div class="layout">
      <div class="content">
        <div class="sidebar-group">
          <!-- Chats sidebar -->
          <div id="chats" class="sidebar active">
            <header>
              <span>Chats</span>
            </header>
            <form>
              <input type="text" class="form-control" placeholder="Search chats">
            </form>
            <div class="sidebar-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" [routerLink]="'/bot'" [routerLinkActive]="['is-active']">
                  <figure class="avatar avatar-state-success">
                    <img src="assets/images/zana_logo_bg.png" class="rounded-circle" alt="image">
                  </figure>
                  <div class="users-list-body">
                    <div>
                      <h5 class="text-primary"><a>ZANA Bot</a></h5>
                      <p>What's up, how are you?</p>
                    </div>
                    <div class="users-list-action">
                      <!--              <div class="new-message-count">3</div>-->
                      <small class="text-primary"></small>
                    </div>
                  </div>
                </li>
                <li class="list-group-item" [routerLink]="['/medici']" [routerLinkActive]="['is-active']">
                  <figure class="avatar avatar-state-success">
                    <img src="assets/images/zana_logo_background.png" class="rounded-circle" alt="image">
                  </figure>
                  <div class="users-list-body">
                    <div>
                      <h5 class="text-primary"><a>ZANA Medici</a></h5>
                      <p>
                        <i class="fa fa-camera mr-1"></i> Hi
                      </p>
                    </div>
                    <div class="users-list-action">
                      <!--              <div class="new-message-count">1</div>-->
                      <small class="text-primary"></small>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
